.page {
    width: 95%;
    font-size: 3em;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome {
    margin-top: 0px;
    margin-bottom: 0px;
}

#wordlist {
    width: 250px;
    position: relative;
    text-align: left;
    left: 50%;
    transform: translate(-50%);
}

.loginmessage {
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    background-color: #c1ff80;
}

.loginbutton {
    display: inline-block;
    line-height: 0px;
}

.left {
    margin-left: 13%;
    width: 35%;
    float: left;
}

.right {
    margin-right: 13%;
    width: 35%;
    float: right;
}

#drawingcard {
    width: 20%;
}

#painting {
    width: 50%;

}

.mode {
    font-size: 20px;
}

/*
~~~    logout; donate ja aboutus buttons position.
*/
/**/
form {

}

#log {
    clear: both;
    text-align: center;
    position: absolute;
    top: 20%;
    right: 5%;
}

#don {
    clear: both;
    text-align: center;
    position: absolute;
    top: 25%;
    right: 5%;
}

#us {
    clear: both;
    text-align: center;
    position: absolute;
    top: 30%;
    right: 5%;
}
/*
~~~
*/

* {
    /*    border: 1px solid black;*/
    font-family: Palatino Linotype;
}




